body {
    background-image: url("image/Mersedes_picture.jpg");
    background-size: cover;
	background-attachment: fixed;
    background-position:center;
  
}
.logo
{
	text-align: center;
	background-color: #000000;
	height:120px;
}
.menu
{
	font-size: 18px;
	font-family: 'comic sans ms';
	text-align: center;
}
.menu a:hover
{
	font-size: 18px;
	font-family: 'comic sans ms';
	background-color: #ADFF2f;
	color: #000000;

}
.menu a
{
	background-color: #8B1A1A;
	color: #ADFF2F;
	padding-right: 0.5%;
	padding-left: 5%;
}
.model
{
	margin-top: 50px;
	text-align: center;
}
tr 
{
	color: #191970;
	background-color: #888888;
}
table
{
    font-size: 18px;
	font-family: 'comic sans ms';
	width: 100%;
	padding-left: 30%;
	padding-right: 24.5%;
}
.button 
{
	padding-left: 30%;
	padding-right: 24.5%;
	width:753px;
	height:450px;
}
.information
{   
	font-size: 18px;
	font-family: 'comic sans ms';
	color:#f4A460;
	padding-left: 30%;
	padding-right: 24.5%;
}
video
{
 width: 760px;
 height: 570px; 
  padding-left: 30%;
	padding-right: 24.5%;

}